body {
    background-color: lightblue;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    color: black;
    margin-bottom: 20px;
    background-color: lightblue;
    padding-top: 20px;
    padding-bottom: 20px;
}

h2 {
    font-size: 1.8em;
    color: black;
    margin-top: 30px;
    margin-bottom: 15px;
}

h3 {
    font-size: 1.3em;
    color: black;
    margin-top: 20px;
    margin-bottom: 15px;
}

p {
    font-size: 1em;
    line-height: 1.6;
    color: black;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: times new roman;
}

#paragraph2 {
    border-style: solid;
    border-width: .2em;
    border-color: green;
    margin: 20px;
    background-color: white;
    padding: 1.2em;
    width: 50em;
}

.blue {
    color: white;
    background-color: darkblue;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.6;
}

a {
    color: blue;
}

section p a {
    color: red;
    text-decoration: underline;
}

ol {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    list-style-type: decimal-leading-zero;
}

ol li {
    margin-top: 8px;
    margin-bottom: 8px;
    color: black;
}

ol li a {
    color: blue;
}

table, th, td {
    border-collapse: collapse;
    border: .1em solid;
    padding: .4em;
}

table {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
}

table th {
    background-color: lightgray;
    color: black;
    font-weight: bold;
}

table td {
    color: black;
    background-color: white;
}

em {
    font-style: italic;
    color: black;
}

article {
    margin-top: 40px;
    margin-bottom: 40px;
}

section {
    margin-top: 20px;
    margin-bottom: 20px;
}
