body {
    background-color: lightblue;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 15px;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    color: black;
    margin: 20px 0;
    background-color: lightblue;
    padding: 20px;
}

h2 {
    font-size: 1.8em;
    color: black;
    margin: 25px 0 10px 0;
}

h3 {
    font-size: 1.3em;
    color: black;
    margin: 18px 0 10px 0;
}

p {
    font-size: 1em;
    line-height: 1.6;
    color: black;
    margin: 12px 0;
}

#paragraph2 {
    padding: 20px;
    border: 2px solid green;
    margin: 25px 60px;
    line-height: 1.6;
    background-color: white;
}

.blue {
    color: white;
    background-color: darkblue;
    padding: 20px;
    margin: 20px 40px;
    line-height: 1.6;
}

a {
    color: blue;
}

section p a {
    color: red;
    text-decoration: underline;
}

ol {
    margin: 20px 0;
    padding-left: 40px;
}

ol li {
    margin: 8px 0;
    color: black;
}

ol li a {
    color: blue;
}

table {
    margin: 15px 0;
    background-color: white;
    border: 1px solid gray;
    width: 100%;
}

table th {
    background-color: lightgray;
    color: black;
    padding: 10px;
    border: 1px solid gray;
    font-weight: bold;
    text-align: left;
}

table td {
    padding: 10px;
    border: 1px solid gray;
    color: black;
    background-color: white;
}

em {
    font-style: italic;
    color: black;
}

article {
    margin: 30px 0;
}

section {
    margin: 15px 0;
}
